<aside
  class="sidebar"
  [class.sidebar-open]="sidebarOpen()"
  aria-label="Sidebar"
>
  <div class="sidebar-content">
    <div class="sidebar-header">
      <div class="menu-items">
        <a routerLink="/chat/new" class="menu-item new-chat-item" (click)="onNewConversation()">
          <mat-icon svgIcon="new-chat"></mat-icon>
          <span>New Conversation</span>
        </a>
        <a routerLink="/collections" class="menu-item" (click)="closeSidebar()">
          <mat-icon svgIcon="resource"></mat-icon>
          <span>Manage Collections</span>
        </a>
      </div>
      <div class="divider"></div>
    </div>

    <div class="sidebar-body">
      <app-session-list></app-session-list>
    </div>
  </div>
</aside>