<div mat-dialog-title>Upload Document</div>

<mat-dialog-content>
  <p class="upload-dialog__subtitle">
    Upload a document to the <strong>{{ collectionName() }}</strong> collection
  </p>

  <!-- File Input Component -->
  <div class="content">
    <app-file-input
      [config]="fileInputConfig"
      (fileSelected)="onFileSelected($event)"
      (fileRemoved)="onFileRemoved()"
      (validationError)="onValidationError($event)"
    ></app-file-input>
  </div>

  <!-- Upload Progress -->
  @if (isUploading()) {
    <div class="upload-progress">
      <p class="upload-progress__text">Uploading...</p>
      <mat-progress-bar
        mode="indeterminate"
        class="upload-progress__bar"
      ></mat-progress-bar>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="cancel()"
    [disabled]="isUploading()"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="uploadFile()"
    [disabled]="!selectedFile() || isUploading()"
  >
    @if (isUploading()) {
      <ng-container matButtonIcon>
        <mat-icon>sync</mat-icon>
        Uploading...
      </ng-container>
    } @else {
      <ng-container matButtonIcon>
        Upload
      </ng-container>
    }
  </button>
</mat-dialog-actions>